<!DOCTYPE html>
{% load static %}
<html lang="en">
<div class="page-wrap">  
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>404ShipNotFound -{% block title %}404shipnotfound{% endblock %}</title>

    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
            
      <script src="{% static 'js/code.js' %}"></script>
      <script src="{% static 'js/ships.js' %}"></script>
      <link rel="stylesheet" type ="text/css" href="{% static 'css/bootswatch.css' %}">
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>   
    <![endif]-->
  </head>
  

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/">404ShipNotFound</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <form class="navbar-form navbar-left" onsubmit="return false;">
                <span class="glyphicon glyphicon-search"></span></button> 
                <input id="search" name="search" type="text" placeholder = "Input player name">
                <input class = 'btn btn-default' type="button" name="submit" id="submit" value="Submit"> 
                <script>
                    document.getElementById('submit').onclick = function() {
                        if (document.getElementById('search').value != '') {
                            window.location.replace("/profile/" + document.getElementById('search').value);
                        }
                    };
                </script>
            </form>
            <li><a href="{% url 'home' %}?next=/home/">Home</a></li>
            <li><a href="{% url 'howToPlay' %}">Help</a></li>     
            {% if user.is_authenticated %}
				<li><a href="{% url 'add_profile' %}?next=/home/">Edit profile</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/home/">Logout</a></li>

            {% else %}  
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
                       

              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
                {% block side_block %}
                {% endblock %} -->

        </div>

        {% block body_block %}{% endblock %}
            

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
   
          
</div>

    <footer class="site-footer" align=center>
        <img src="{% static 'img/logo.png' %}" alt="battleship" width="13%" />
        </br>
        <strong>Created by: Team <FONT COLOR="#FF0000">R</FONT>ocket<br/>Rendered by Bootstrap<strong/>
    </footer>
                


</html>
