{% extends 'app/base.html' %}

{% block title %}Index{% endblock %}

        {% block body_block %}
        <div>
            <br/>
            <div class = "col-md-4" align= "center" border>
                {% if user.is_authenticated %}
                    <h2>{{user.username}}</h2>
                    <img alt = "User's photo" src = "{{profile.picture.url}}" class = "img-thumbnail">
                    <p><b>Last Played:</b> {{ last_played }} <br/>
                        <b> High Score:</b> {{ high_score }} <br/>
                        <b> Plays:</b> {{ games_played }}<br/>
                        <b> Wins:</b> {{ wins }}<br/>
                        <b> Losses:</b> {{ losses }}</p>
                {% else %}
                    <p>Not signed in</p>
                    <input class="btn btn-success" type="button" value="Log In" onClick= "window.location.href='/accounts/login/'">
                    <input class="btn btn-success" type="button" value="Register" onClick="window.location.href='/accounts/register/'">
                {% endif %}
            </div>
            <div class = "col-md-4" align = "center">
                <h1>Play</h1>
                <form>
                    <input class="btn btn-success" type="button" value="Easy" onClick="window.location.href='/play/1'"
                    style="width:250px; !important; height:60px !important; font-size:24px;">
                </form>
                <form>
                <br></br>
                    <input class="btn btn-danger" type="button" value="Hard" onClick="window.location.href='/play/2'"
                    style="width:250px; !important; height:60px !important; font-size:24px;">
                </form>
                <br/>
                <form>
                    <input class="btn btn-warning" type="button" value="How to play" onClick="window.location.href='/howToPlay'"
                    style="width:200px; height:48px ; font-size:24px;">
                </form>
            </div>
            <div class= "col-md-4" align = "center">
            {% if games %}
                <h2 align = "center">High Score Board</h2>
                <table id = "leaderboard" class="table table-hover">
                    <tr class="info">
                        <th>Name</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    {% for game in games %}
                         <tr class="warning">
                            <td>{{ game.user }}</td>
                            <td>{{ game.score }}</td>
                            <td>{{ game.date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <strong> No games found! </strong>

            {% endif %}
            </div>

        </div>

{% endblock %}
