{% extends 'app/base.html' %}

{% block title %}Index{% endblock %}

        {% block body_block %}

        <br/><br/>
        <br/><br/>
        <br/><br/>
        <div>
            <div class = "col-md-4" align= "left-side">
                {% if user.is_authenticated %}
                    <h2>{{user.username}}</h2>
                    <img alt = "User's photo" src = "{{profile.picture.url}}" class = "img-thumbnail">
                    <p>Plays: {{ games_played }}<br/> Wins: {{ wins }}<br/> Losses: {{ losses }}</p>
                {% else %}
                    <p>Not signed in</p>
                    <input class="btn btn-success" type="button" value="Log In" onClick= "window.location.href='/accounts/login/'">
                    <input class="btn btn-success" type="button" value="Register" onClick="window.location.href='/accounts/register/'">
                {% endif %}
            </div>
            <div class = "col-md-4" align = "center">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Easy
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Normal
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Hard
                </label>
                <br> <br/>
                <form>
                    <input class="btn btn-success" type="button" value="Play" onClick="window.location.href='/play'"
                    style="width:250px; !important; height:60px !important; font-size:24px;">
                </form>
                <br/>
                <form>
                    <input class="btn btn-warning" type="button" value="How to play" onClick="window.location.href='/howToPlay'"
                    style="width:200px; height:48px ; font-size:24px;">
                </form>
            </div>
            <div class= "col-md-4" align = "right-side">
            {% if games %}
                <h3 align = "center">High Score Board</h3>
                <table id = "leaderboard" class="table table-hover">
                    <tr class="info">
                        <th>Name</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    {% for game in games %}
                         <tr class="warning">
                            <td>{{ game.user }}</td>
                            <td>{{ game.score }}</td>
                            <td>{{ game.date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}

        </div>

{% endblock %}
