{% extends 'app/base.html' %}

{% block body_block %}

    <div class="page-header">
        <h1>Play Battleships</h1>
    </div>

     <table style="width: 100% ">
         <tr>
             <td align="center">
                 <h4>Offensive Grid</h4>
                 <div id="board"></div>
             </td>
             <td align = "center">
                 <h4>Defensive Grid</h4>
                 <div id="board2"></div>
             </td>
             <td align ="center">
                 <h4>Captain's Log</h4>
                 <div id="log"></div>
             </td>
         </tr>
     </table>

    <script>
    if ({{difficulty}} == "2") {
        var hard = true;
    } else {
        var hard = false;
    }
    // Create the array of ships.
    var cords = new Array(10);
        for (var i = 0; i < 10; i++) {
            cords[i] = new Array(10);
        }
    var cords2 = new Array(10);
        for (var i = 0; i < 10; i++) {
            cords2[i] = new Array(10);
        }
    // Your score.
    var score = 0;
    var nextMove = new Array();
    newGrid();
    newOpponent();
    placeShips(cords);
    placeShips(cords2);
    </script>
{% endblock %}
