{% extends 'app/base.html' %}

{% block body_block %}

    <div class="page-header">
        <h1>Play Battleships</h1>
    </div>
    <br></br>
    <br></br>

     <table style="width: 100% ">
      <tr>
        <td align="center">
            <h4>Offensive Grid</h4>
                <div id="board"></div>
        </td>
        <td align ="center">    
            <h4>Log</h4>
                <div id="log"></div>
        </td>
        <td align = "center">    
            <h4>Defensive Grid</h4>
                <div id="board2"></div>
        </td>
      </tr>
    </table>  

    <script>
    // Create the array of ships.
    var cords = new Array(10);
        for (var i = 0; i < 10; i++) {
            cords[i] = new Array(10);
        }
    var cords2 = new Array(10);
        for (var i = 0; i < 10; i++) {
            cords2[i] = new Array(10);
        }
    // Your score.
    var score = 0;
    newGrid();
    newOpponent();
    placeShips(cords);
    placeShips(cords2);
    </script>
{% endblock %}
